main {
  display: flex;
  flex-direction: column;
  //   justify-items: center
  align-items: center;
  .head-image {
    width: 100%;
    height: auto;
  }
  .green-back {
    min-height: 275px;
    background-color: $secondary;
    position: relative;
    display: grid;
    width:100%;
    @media (min-width: $desktop) {
      width: 1024px;
    }
  }
  .henry-about-me {
    width: 50%;
    position: absolute;
    top: -40px;
    padding: 16px;
    border: 2px solid $white;
    margin: 16px;
    border-radius: 16px;
    p {
      color: $black;
    }
  }
  .quote-wrapper{
    // float:right;
    width:40%;
    justify-self: end;
    align-self: center;
  }
  h2.quote{
    font-style: italic;
    opacity: 0.5;
    color: $white;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
  }
      .orange-back{
        background: $primary-light;
      }
  .section {
    max-width: 1024px;
    width: 100%;
    margin-top: 48px;
    h1 {
      text-align: center;
      margin: 24px;
    }
  }
  .live-events{
    padding:16px;
    box-sizing: border-box;
    .when{
      ul{
        padding-left:0;
        li{
          list-style: none;;
        }
      }
    }
    .live-events-lower{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom:40px;
      img{
        width:100%;
      }
    }
  }

  .contact {
    background: $secondary;
  }
  .gallery {
    width: 100%;
    min-height: 200px;
    margin-top: 48px;
  }

  .grid-item {
    width: calc(25vw - 7px);
  }
  .grid-item--width2 {
    width: calc(50vw - 7px);
  }
  .grid-item {
    img {
      width: 100%;
    }
  }
  .education{
    background: $primary;
    padding:16px;
    box-sizing: border-box;
    padding-bottom:40px;
    p,q{
      color:$white;
    }
  }
  .rex{
    background: $white;
    padding:16px;
    box-sizing: border-box;
    padding-bottom:40px;
    margin-top:0;
  }
  .media {
    .link-content{
      display: grid;
      grid-gap:10px;
      padding-left:0;
      grid-template-columns:  1fr;
      @media (min-width: $desktop) {
        grid-template-columns:  1fr 1fr 1fr;
      }
      a {
        color: $primary;
        text-decoration: underline;
        font-size: 22px;
        // color: rgba(33,33,33,1)
        color: $white;
      }
      .media-link{
        position: relative;
        min-height:180px;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        &:before{
          content: "";
          background-size: cover;
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: .4;
        }
        &:hover{
          animation-duration: 0.3s;
          animation-name: blur-hover;
        }
      }
      .the-blue-nib:before{
        background-image: url("../images/henry-bridge.jpg");
      }
      .canterbury-culture:before{
        background-image: url("../images/canterbury-culture.jpg");
      }
      .the-forest-review:before{
        background-image: url("../images/forest-review.jpg");
      }
      .media-link{
        list-style: none;
        border: 2px solid $black;
        border-radius:5px;
      }
    }
  }
}



@keyframes blur-hover {
  0% { filter: blur(0px); }
  50% { filter: blur(1px); }
  100% { filter: blur(0px); }
  // 33% { transform: translate(-10px, -14px); }
  // 66% { transform: translate(-10px, -16px); }
  // 100% { transform: translate(-8px, -16px); }
}